html{
	font-family: "Georgia", serif;
	height: 100%;
}
body{
	padding: 0em;
	margin: 0em;
	height: 100%;
}
#wrapper{
	padding: 2em;
	background: linear-gradient(white 1%, transparent 99% ), url("apparel-casual-clothes-934070.jpg") no-repeat center; 	
	height: 100%;
	background-size: cover;
	z-index: 0;
}
h1{
	font-family: 'PT Serif', serif;
	font-size: 3em;
	color: #5a86d5;
	font-weight: 400;
	line-height: 1.2em;
}
p{
	font-family: 'Inconsolata', monospace;	
	line-height: 1.3em;
	margin: 2em 0em;
}
form{
	font-family: 'PT Serif', serif;
	margin: .5em;
	padding: 1em;
	background-color: whitesmoke;
	box-shadow: 5px 10px #a8a8a8;	
	z-index: 1;
}
form > label, input
  {
    width: 90%;
  }
li{
	padding:5px 0px;
}
#button{
	background-color: lightcoral;
	color:white;
	font-size: 1.5em;
}

@media screen and (min-width:786px){
	#wrapper{
		padding:4em;
	}
	#button{
		width:30%;
		height: 2em;		
		font-size: 1.2em;
	}
}

@media screen and (min-width: 1200px) {
	body{
		background-color: white;
		padding: 0em;
		margin: 0em;
		box-shadow: 5px 10px #888888
	}
	#wrapper{
		padding: 2em;
	}
	#wrapper > form {
		width: 50%;
		position: absolute;
		left: 33em;
		bottom: 24em;
	}
	#wrapper > p{
		width:40%;
		margin:1em 0em;
		font-size: 1.2em;
		line-height: 1.8em;
	}
	#wrapper h1{
		font-size: 4em;
		width:30%;
	}
	
	li{
		line-height: 2em; 
		width:90%;
	}
	#button{
		background-color:lightcoral;
		width:40%;
		height: 2em;
		font-size: 1.2em;
		position: relative;
		left: 10em;
	}
}
